# Python
backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.local

# Output
*.uxuitelno
